<button
  [type]="type()"
  class="w-32 h-9 flex items-center justify-center gap-2 rounded-sm disabled:cursor-not-allowed disabled:opacity-50"
  [ngClass]="buttonClass()"
  [disabled]="isDisabled()"
  (click)="actionMethod()"
>
  @if (isLoading()) {
  <svg class="size-5 animate-spin" viewBox="0 0 24 24" fill="none">
    <circle
      class="opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
  </svg>
  <span>Processing…</span>
  } @else {
  {{ label() }}
  }
</button>
