<h2 class="text-2xl md:text-5xl text-center py-6">Transactions</h2>
<button
  type="button"
  (click)="requestNewTransaction()"
  class="inline-flex items-center gap-2 mb-3 rounded-lg bg-sky-600 px-4 py-2 text-sm font-medium text-white shadow-sm transition hover:bg-indigo-500 hover:shadow-md cursor-pointer"
>
  New Transaction
</button>
@for (item of accounts(); track item.id) {
<button
  type="button"
  (click)="selectAccount(item.id)"
  class="flex items-center justify-between p-4 border-2 rounded-lg text-left transition-all hover:border-gray-400 focus:outline-none w-full"
>
  <span class="font-semibold text-gray-800">
    {{ item.name }}
  </span>

  <span class="text-sm text-gray-500">
    Balance:
    <span class="font-mono font-medium text-gray-700">
      {{ item.balance }}
    </span>
  </span>
</button>
} @if (transactionsList()?.length) {
<app-transaction-table
  (editTransactionRequested)="requestTransactionEdit($event)"
  (deleteTransactionRequested)="requestTransactionDelete($event)"
  [tableData]="transactionsList()!"
  [showActionButtons]="true"
/>
} @else if(store.transactions.isLoading()){
<p>Loading Transactions...</p>
} @else if(!transactionsInAccount()) {
  <p>No Transactions for this account</p>  
}
@else {
<p>Transactions are not available</p>
} 
@if (isDrawerOpen() && drawerMode === 'new-mode') {
<app-drawer (closeDrawer)="onOpen()" title="New Transaction">
  <app-new-transaction (transactionRefresher)="refreshTransaction()"></app-new-transaction>
</app-drawer>
} @else if(isDrawerOpen() && drawerMode === 'edit-mode') {
<app-drawer (closeDrawer)="onOpen()" title="Edit Transaction">
  <app-edit-transaction
    [transaction]="selectedTransaction()"
    (transactionRefresher)="refreshTransaction()"
  ></app-edit-transaction>
</app-drawer>
} @if(showConfirmation()) {
<app-confirm-dialog
  label="Are you sure you want to delete?"
  (confirmed)="checkConfirmation($event)"
></app-confirm-dialog>
}
