<ng-container>
    <td class="px-4 py-2 md:py-3 block md:table-cell">
      <span class="md:hidden font-semibold">Date:</span>
      {{ transaction().occurredAt | date : 'yyyy-MM-dd' }}
    </td>

    <td class="px-4 py-2 md:py-3 block md:table-cell">
      <span class="md:hidden font-semibold">Description:</span>
      {{ transaction().description }}
    </td>

    <td
      class="px-4 py-2 md:py-3 block md:table-cell font-medium text-green-600 dark:text-green-400"
    >
      <span class="md:hidden font-semibold">Amount:</span>
      {{ transaction().amount | currency : 'ZAR' }}
    </td>

    <td class="px-4 py-2 md:py-3 block md:table-cell">
      <span class="md:hidden font-semibold">Category:</span>
      {{ transaction().category.name }}
    </td>
</ng-container>
