<nav
  class="fixed top-0 left-0 z-50 flex items-center justify-between w-full h-[73px] px-4 bg-[#e0e0e0]"
>
  <div class="flex items-center gap-2">
    <button class="md:hidden" (click)="isSidebarOpen = !isSidebarOpen">☰</button>

    <img src="budget-buddy.png" class="h-20 w-auto ">
  </div>

  <a routerLink="login">Login</a>
</nav>

<div class="flex h-[calc(100vh-50px)] mt-[72px]">
  <aside
  class="
    fixed md:static
    top-[50px] left-0
    w-[200px] h-full
    bg-[#f2f2f2] p-5
    transform transition-transform duration-200
    -translate-x-full md:translate-x-0
  "
  [class.translate-x-0]="isSidebarOpen"
>
    <ul class="m-0">
      <li class="pb-6"><a routerLink="home" (click)="isSidebarOpen=false">Home</a></li>
      <li><a routerLink="transactions" (click)="isSidebarOpen=false">Transactions</a></li>
    </ul>
  </aside>

  <main class="flex-1 p-5 bg-white box-border overflow-y-auto ">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
<app-toast></app-toast>
</div>
