<form class="grid grid-cols-1 gap-4" #form="ngForm" (ngSubmit)="onSubmitTransaction(form)">
  <div class="flex flex-col gap-1">
    <label class="text-sm font-medium text-gray-700">Occurred At</label>
    <input
      name="occurredAt"
      [(ngModel)]="occurredAt"
      type="datetime-local"
      required
      class="w-xs rounded-sm border border-gray-300 px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div class="flex flex-col gap-1">
    <label class="text-sm font-medium text-gray-700">Amount</label>
    <input
      name="amount"
      [(ngModel)]="amount"
      type="number"
      required
      class="w-xs rounded-sm border border-gray-300 px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div class="flex flex-col gap-1">
    <label class="text-sm font-medium text-gray-700">Reference</label>
    <input
      name="reference"
      [(ngModel)]="reference"
      type="text"
      required
      class="w-xs rounded-sm border border-gray-300 px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div class="flex flex-col gap-1">
    <label class="text-sm font-medium text-gray-700">Description</label>
    <input
      name="description"
      [(ngModel)]="description"
      type="text"
      required
      class="w-xs rounded-sm border border-gray-300 px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div class="flex flex-col gap-1">
    <label class="text-sm font-medium text-gray-700">Category</label>
    <select
      name="category"
      [(ngModel)]="category"
      id=""
      class="w-xs rounded-sm border border-gray-300 px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      @for (item of categoryList(); track $index) {
      <option>{{ item.name }}</option>
      }
    </select>
  </div>

  <div class="flex flex-col gap-1">
    <label class="text-sm font-medium text-gray-700">Budget</label>
    <select
      name="budget"
      [(ngModel)]="budget"
      id=""
      class="w-xs rounded-sm border border-gray-300 px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      @for (item of budgetList(); track $index) {
      <option>{{ item.name }}</option>
      }u
    </select>
  </div>

  @if (!isLoading()) {
  <button
    type="submit"
    class="w-xs h-9 hover:bg-indigo-500 hover:shadow-md bg-sky-600 rounded-sm disabled:cursor-not-allowed disabled:opacity-50"
    [disabled]="form.invalid"
  >
    Submit
  </button>
  } @else {
  <button
    type="button"
    class="flex items-center justify-center gap-2 bg-sky-600 text-white w-xs h-9 rounded disabled:opacity-50"
    disabled
  >
    <svg class="size-5 animate-spin" viewBox="0 0 24 24" fill="none">
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
    </svg>

    <span>Processing…</span>
  </button>
  }
</form>
